body {
    font-size: 16px;
    line-height: 16px;
}

#stat-api-hits, #stat-hotel-count {
    text-align: right;
    padding: 5px 20px;
}

#hotel-presentation {
    font-size: 1.2em;
    line-height: 1.6em;
}

#hotel-presentation div.row {
    margin: 15px 0;
    padding: 5px;
}

#hotel-presentation div.item {
    margin: 4px 0;
}

.more-info-value, .room-info-value {
    float: right;
}

img {
    border: thick solid rgba(240, 240, 240, 0.3);
}

#HotelMoreInfo div.item, #HotelBasicInfo div.item, #HotelRoomInfoContainer div.item {
    border-bottom: thin solid rgba(32, 32, 32, .32);
}

#HotelMoreInfo div.item:hover, #HotelBasicInfo div.item:hover, #HotelRoomInfoContainer div.item:hover {
    border-bottom: thin solid #000000;
}

#HotelRoomInfoContainer, #HotelMoreInfo, #HotelBasicInfo, #HotelRecognition, #SearchFormForListedHotels {
    margin-bottom: 4px;
}

#PrintHotel, #HotelLocationContainer {
    cursor: pointer;
}

#HotelLocationContainer .glyphicon {
    color: #FF0000;
}

#Extra .item {
    padding-top: 5px;
    text-align: center;
    border-bottom: thin solid rgba(32, 32, 32, .32);
}

#Extra .item:hover {
    border-bottom: thin solid #000000;
    background-color: rgba(32, 32, 32, .07);
}

.alert {
    text-shadow: none;
}

@media print {
    div, span, img, h1, h2, h3, h4, h5, h6, a, li, ul, ol {
        font-size: 14px;
        margin: 0;
        padding: 0;
    }

    #hotels, #PrintHotel {
        display: none;
    }
}
